.card{
    margin: 10px;
    border: none;
    width: 250px;

}
.card-img-top {
    width: 250px;
    height: 150px;
}
.container{
    margin-top: 20px;
}

#products{
    margin: 0 auto;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-title{
    font-size: small;
}

.publish-btn {
    position: fixed;
    right: 150px;
    bottom: 150px;
}